* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image: url("backg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    /* background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
, #0073e6); */
background-image: url(aboutback.avif);
background-size: cover;

}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    background-size:50px;
    
}

.register form{
    padding: 20px;
    background-color:rgb(186, 193, 190) ;
    box-shadow: 15px 10px 20px gray;
    border-radius: 15px;
     /* background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%); */
     /* background-image: url(aboutback.avif); */
     /* background-size: cover; */
     /* align-items: stretch; */
}

h1 {
    text-align: center;
    font-size: 25px;
    margin: 8px 80px 50px 0px;
    color: rgb(5, 0, 14);
}

.register h3 {
    font-size: 22px;
    margin: 5px 0;
    /* font-family: Georgia, 'Times New Roman', Times, serif, sans-serif; */
    font-family: 'Nunito', sans-serif;

    color: #1b3e60;
    
}

.register input {
    font-size: 16px;
    padding: 8px 5px;
    width: calc( 100% - 10px);
    border: 0;
    border-radius: 8px;
    outline: none;
    opacity: 0.7;
    

}

button {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin:8px 0;
    padding: 5px 15px;
    border-radius: 7px;
    transition: 0.8s;
    box-shadow: 0 10px 10px #b7bfb6;
    /* background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%); */
    background-color: rgb(83, 202, 83);

}
button:hover{
    background-color: yellow;
    border: 2px solid green;
    /* opacity: 0.5; */
    transform: scale(1.1);
}
form:hover{
    border: 2px solid black;
    transform: scale(1.03);
    
}
